# Rust build directories
/target
/frontend/target
/server/target

# Trunk build directory
/frontend/dist

# Frontend index.html that will be overwritten by proper index.html (see frontend/scripts/select_index.sh
/frontend/index.html

# Json's, html's
/performance_results

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*~

# OS-specific files
.DS_Store
Thumbs.db
